.bder
{
	border: 1px solid #eee;
}

/*内容页*/
.mtf15
{
	margin-top: -21px;
	/*margin-left: 5px;*/
}

.ml15
{
	margin-left: 5px;
}

/*左侧ul*/
.leftul
{
	width: 100%;
}
.leftul li
{
	/*display:block;*/
	margin-top: 25px;
	/*margin-bottom: 10px;*/
	text-align:center;
	border-bottom: 1px solid #eee;
}

.nobder
{
	border: none;
}


/*新的左侧ul的标签*/
/*.nleftul
{
  border-right: 2px dotted #eee;
}*/
/*border-style:dotted solid double dashed; */
/*上边框是点状
右边框是实线
下边框是双线
左边框是虚线*/
.nleftul li>span
{
	display: block;
	width: 50%;
	margin:0 auto;
	padding-bottom: 20px;
	margin-top: 20px;
	border-bottom: 2px solid #eee;
	/*border-right: 2px dotted #eee;*/
}

.nleftul li>span:hover
{
	font-size: 20px;
	color: red;
	text-decoration: underline;

}

/*内容页的树css*/
/*.mianboder
{
	margin-left: 30px;
}*/
.maincenter
{
	width: 95%
}
.adduser
{
	float: left;
}


#shade { 
	display: none;
	position: absolute;  
	top: 0%;  
	left: 0%;  
	width: 100%;  
	height: 100%;  
	background-color: black;  
	z-index:1001;  
	moz-opacity: 0.7;  
	opacity:.70;  
	filter: alpha(opacity=70);}



#register
{
	display: none;  
	position: absolute;  
	top: 25%;  
	left: 22%;  
	width: 53%;  
	height: 49%;  
	padding: 8px;  
	border: 2px solid #E8E9F7;  
	background-color: white;  
	z-index:1002;  overflow: auto;
}